<div class="row mt-5">
  <div class="col-md6- m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> S'enregistrer
      </h1>
      <% include ./partials/messages %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Nom</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Entrer votre nom"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Entrer votre Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Creer un mot de Passe"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div >
          <label for="password2">Confirmation du mot de passe</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirmer votre mot de  Passe"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div> </br>
         
        <div class="g-recaptcha", id="captcha", data-sitekey="6Lc1m-IUAAAAAKMBN8L8rJ4eUzPHSPRYb8DhvKj5"></div>
       
      </br>
        <button type="submit" class="btn btn-primary btn-block">
          Enregistrer vous
        </button>       
      </form>
      <p class="lead mt-4">Avez vous déja un compte? <a href="/users/login">Connectez vous</a></p>
      
  </div>
   </div>

  </div>
</div>
